In [1]:
print("Hello World")

Hello World

In [2]:
2**10

1024

In [3]:
a = 5
print(a)

5

In [4]:
b = 7
result = a + b
print(result)

12

In [5]:
a = 5
b = 7
print(a,b)

5 7

In [7]:
a,b = b,a
print(a,b)

5 , 7

In [7]:
7//2 #7 mod 2 giving value not reminder

3

In [8]:
2**4

16

In [ ]:
+ - * / // ** #precedence

In [9]:
while(True):
  break

###
counter = 0
while True:
    print("This loop will run forever!")
    counter += 1
    if counter == 10:
        break

In [10]:
x,y = 4,3
r = 1

d = (x**2+y**2)**0.5 - r
print(d)

4.0

In [22]:
2 + 2
4
50 - 5*6
20
(50 - 5*6) / 4
5.0
8 / 5  # division always returns a floating point number
1.6

1.6

In [23]:
17 / 3  # classic division returns a float
5.666666666666667

17 // 3  # floor division discards the fractional part
5
17 % 3  # the % operator returns the remainder of the division
2
5 * 3 + 2  # floored quotient * divisor + remainder
17

17

In [24]:
5 ** 2  # 5 squared
25
2 ** 7  # 2 to the power of 7
128

128

In [25]:
width = 20
height = 5 * 9
width * height

900

In [ ]:
4 * 3.75 - 1
14.0

In [27]:
tax = 12.5 / 100
price = 100.50
price * tax
12.5625
price + _
113.0625
round(_, 2)
113.06

113.06

In [28]:
'spam eggs'  # single quotes
'spam eggs'
"Paris rabbit got your back :)! Yay!"  # double quotes
'Paris rabbit got your back :)! Yay!'
'1975'  # digits and numerals enclosed in quotes are also strings
'1975'

'1975'

In [29]:
'doesn\'t'  # use \' to escape the single quote...
"doesn't"
"doesn't"  # ...or use double quotes instead
"doesn't"
'"Yes," they said.'
'"Yes," they said.'
"\"Yes,\" they said."
'"Yes," they said.'
'"Isn\'t," they said.'
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [31]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), special characters are included in the string
'First line.\nSecond line.'
print(s)  # with print(), special characters are interpreted, so \n produces new line
#First line.
#Second line.

First line.
Second line.

In [34]:
print('C:\some\name')  # here \n means newline!
#C:\some
#ame
print(r'C:\some\name')  # note the r before the quote
#C:\some\name

C:\some
ame
C:\some\name

In [35]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [38]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'
'unununium'

'unununium'

In [39]:
'Py' 'thon'
'Python'

'Python'

In [40]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text
'Put several strings within parentheses to have them joined together.'

'Put several strings within parentheses to have them joined together.'

In [6]:

prefix = 'Py'
print(prefix + 'thon')

Python

In [7]:
word = 'Python'
word[0]  # character in position 0
#p
word[5]  # character in position 5

'n'

In [8]:
word[-1]  # last character
#'n'
word[-2]  # second-last character
#'o'
word[-6]
#'P'

'P'

In [9]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
#'Py'
word[2:5]  # characters from position 2 (included) to 5 (excluded)
#'tho

'tho'

In [10]:
word[:2]   # character from the beginning to position 2 (excluded)
#'Py'
word[4:]   # characters from position 4 (included) to the end
#'on'
word[-2:]  # characters from the second-last (included) to the end
#'on'

'on'

In [11]:
word[:2] + word[2:]
#'Python'
word[:4] + word[4:]
#'Python'

'Python'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [12]:
word[4:42]
#'on'
word[42:]
''

''

In [13]:
'J' + word[1:]
'Jython'
word[:2] + 'py'
'Pypy'

'Pypy'

In [14]:
s = 'supercalifragilisticexpialidocious'
len(s)
34

34

### Lists

In [26]:
squares = [1, 4, 9, 16, 25]
print(squares)
#[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [29]:
squares[0]  # indexing returns the item
#1
squares[-1]
#25
squares[-3:]  # slicing returns a new list
#[9, 16, 25]

[9, 16, 25]

In [30]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!
64
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [32]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [33]:
rgb = ["Red", "Green", "Blue"]
rgba = rgb
id(rgb) == id(rgba)  # they reference the same object
True
rgba.append("Alph")
rgb

['Red', 'Green', 'Blue', 'Alph']

In [34]:
correct_rgba = rgba[:]
correct_rgba[-1] = "Alpha"
correct_rgba
["Red", "Green", "Blue", "Alpha"]
rgba

['Red', 'Green', 'Blue', 'Alph']

In [35]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters
['a', 'b', 'c', 'd', 'e', 'f', 'g']
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters
['a', 'b', 'C', 'D', 'E', 'f', 'g']
# now remove them
letters[2:5] = []
letters
['a', 'b', 'f', 'g']
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

In [36]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
[['a', 'b', 'c'], [1, 2, 3]]
x[0]
['a', 'b', 'c']
x[0][1]

'b'

In [37]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [38]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [39]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [11]:
import math as m

new_d = m.hypot(4,3) - r
print(new_d)

4.0

### 
The math.hypot() method returns the Euclidean norm. The Euclidian norm is the distance from the origin to the coordinates given.

Prior Python 3.8, this method was used only to find the hypotenuse of a right-angled triangle: sqrt(x*x + y*y).

From Python 3.8, this method is used to calculate the Euclidean norm as well. For n-dimensional cases, the coordinates passed are assumed to be like (x1, x2, x3, ..., xn). So Euclidean length from the origin is calculated by sqrt(x1*x1 + x2*x2 +x3*x3 .... xn*xn).

In [12]:
from math import hypot as h
new_d = h(4,3) - r
print(new_d)

4.0

In [20]:
d = [10,20,30,25,13]
s = [2,4,3,2,7]
time = d/s

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [19]:
d = [10, 20, 30, 25, 13]
s = [2, 4, 3, 2, 7]

time = [d_i / s_i for d_i, s_i in zip(d, s)]
print(time)

[5.0, 5.0, 10.0, 12.5, 1.8571428571428572]

In [21]:
import numpy as np
d = np.array(d)
s = np.array(s)
time = d/s

In [23]:
print(time)

[ 5.          5.         10.         12.5         1.85714286]