### Steps of Data Analysis

- **Asking right questions to which we want to find answers**
- **Data Collection** - Collect enough data(internally or externally) to start anlaysis
- **Data Cleaning** - The collected will rarely be useful, so we need to clean it before using.
- **Analyzing the Data** - Slice your data to find meaningful insights from it and look for hidden patterns and relationships
- **Interpreting the Results**

**Problem Statement - Find answer to the following questions :**

- Find top 10 movies that earned highest profit
- Find IMDB Top 250 Movies
- Find Non-English Movies that are in IMDB Top 250 List
- Find out top 10 best directors (according to IMDB score)
- Find the genres of movies which were popular among the audience
- Find which actor was critic-favourite and audience favourite in that era

In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [5]:
movies = pd.read_csv("Movie+Assignment+Data.csv", encoding = "ISO-8859-1")

movies # Getting a look at the values of the dataframe

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [6]:
# Write your code for inspection here
print(movies.shape) # Number of rows and columns in the dataframe
print(movies.info()) # Some info about datatypes, and number of non-null values
movies.describe() # Statistical snapshot of the dataframe

(5043, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [10]:
# Write your code for column-wise null count here
(movies.isnull().sum(axis=0)/len(movies.index))*100

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [8]:
# Write your code for row-wise null count here
print(movies.isnull().sum(axis=1))

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [11]:
# Write your code for column-wise null percentages here
print(round(movies.isnull().sum(axis=0)/len(movies), 2))

color                        0.00
director_name                0.02
num_critic_for_reviews       0.01
duration                     0.00
director_facebook_likes      0.02
actor_3_facebook_likes       0.00
actor_2_name                 0.00
actor_1_facebook_likes       0.00
gross                        0.18
genres                       0.00
actor_1_name                 0.00
movie_title                  0.00
num_voted_users              0.00
cast_total_facebook_likes    0.00
actor_3_name                 0.00
facenumber_in_poster         0.00
plot_keywords                0.03
movie_imdb_link              0.00
num_user_for_reviews         0.00
language                     0.00
country                      0.00
content_rating               0.06
budget                       0.10
title_year                   0.02
actor_2_facebook_likes       0.00
imdb_score                   0.00
aspect_ratio                 0.07
movie_facebook_likes         0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [12]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies = movies.drop(columns = ['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'])
movies.head()
# Inspecting the movies dataframe
print(round(100*movies.isnull().sum(axis=0)/len(movies.index), 2)) # Coulmn-wise null percentages
print(movies.shape)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64
(5043, 13)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage of Null values. Drop all the rows which have Null values for such columns.

In [15]:
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's EndÂ,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,SpectreÂ,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight RisesÂ,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,NaN,NaN,7.1,0

In [18]:
# Write your code for dropping the rows here
# For only these two columns, whichever rows has missing values, don't select those rows and select every other row apart from that
# This is basically doing the filtering of the dataset to remove the rows which have null values
movies = movies[~(movies['gross'].isnull() | movies['budget'].isnull())]

# Inspecting the movies dataframe
print(round(100*movies.isnull().sum(axis=0)/len(movies.index), 2)) # Coulmn-wise null percentages, 0.00 for 'gross' and 'budget'
print(movies.shape)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64
(3891, 13)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [21]:
# Write your code for dropping the rows here
movies = movies[movies.isnull().sum(axis=1)<=5]

# Inspecting the movies dataframe
print(round(100*movies.isnull().sum(axis=0)/len(movies.index), 2)) # Coulmn-wise null percentages
print(movies.shape)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64
(3891, 13)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [22]:
movies['language'].mode()

0    English
dtype: object

Select all the rows in language column where the value is null and replace these null values with the word 'English'

In [25]:
# Write your code for filling the NaN values in the 'language' column here
movies.loc[movies['language'].isnull(), ['language']] = 'English'

# Inspecting the movies dataframe
print(round(100*movies.isnull().sum(axis=0)/len(movies.index), 2)) # Coulmn-wise null percentages, 0.00 for 'language'
print(movies.shape)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.00
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64
(3891, 13)

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [26]:
# Write your code for checking number of retained rows here
retained_rows = len(movies.index)
print(retained_rows) # Printing out the number of retained rows
print(100*retained_rows/5043) # Printing out percentage of retained rows

3891
77.15645449137418

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

1. Univariate Analysis
2. Bivariate Analysis
3. Multivariate Analysis

In [27]:
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's EndÂ,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,SpectreÂ,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight RisesÂ,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John CarterÂ,212204,738.0,English,263700000.0,2012.0,6.6,24000

In [28]:
# Write your code for unit conversion here
movies.loc[:, ['budget', 'gross']] = movies.loc[:, ['budget', 'gross']] / 1000000.0

# Inspecting the 'gross' and 'budget' column of the dataframe after the operation
print(movies[['gross','budget']].head())

        gross  budget
0  760.505847   237.0
1  309.404152   300.0
2  200.074175   245.0
3  448.130642   250.0
5   73.058679   263.7

-  ### Subtask 3.2: Find the top 10 movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [35]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross(in million$)'] - movies['budget(in million$)']

# Inspecting the new column 'profit'
movies['profit']

0       523.505847
1         9.404152
2       -44.925825
3       198.130642
5      -190.641321
           ...
5033      0.417760
5034      0.063071
5035      2.033920
5037     -0.004416
5042      0.084122
Name: profit, Length: 3891, dtype: float64

In [37]:
# Write your code for sorting the dataframe here
movies.sort_values(by=['profit'], ascending = False)

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237.000000,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic WorldÂ,418214,1290.0,English,150.000000,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,2528.0,English,200.000000,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New HopeÂ,911097,1470.0,English,11.000000,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-TerrestrialÂ,281842,515.0,English,10.500000,1982.0,7.9,34000,424.449459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ãtomo,105.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,SteamboyÂ,13727,79.0,Japanese,2127.519898,2004.0,6.9,973,-2127.109510
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess MononokeÂ,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809
3005,Lajos Koltai,73.0,0.195888,Drama|Romance|War,Marcell Nagy,FatelessÂ,5603,45.0,Hungarian,2500.000000,2005.0,7.1,607,-2499.804112
3859,Chan-wook Park,202.0,0.211667,Crime|Drama,Min-sik Choi,Lady VengeanceÂ,53508,131.0,Korean,4200.000000,2005.0,7.7,4000,-4199.788333
2988,Joon-ho Bong,363.0,2.201412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The HostÂ,68883,279.0,Korean,12215.500000,2006.0,7.0,7000,-12213.298588

In [36]:
top10 = movies.sort_values(by=['profit'], ascending = False).head(10)

# Inspecting the top10 dataframe
top10

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic WorldÂ,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New HopeÂ,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-TerrestrialÂ,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion KingÂ,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom MenaceÂ,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark KnightÂ,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [38]:
# Write your code for dropping duplicate values here
movies = movies.drop_duplicates()

In [40]:
# Write code for repeating subtask 2 here
movies['profit'] = movies['gross(in million$)'].sub(movies['budget(in million$)']) # Creating new column 'profit'
top10 = movies.sort_values(by=['profit'], ascending = False).head(10) # Storing only 10 rows of the sorted movies dataframe
top10 # getting a look at the new top10 dataframe

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic WorldÂ,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New HopeÂ,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-TerrestrialÂ,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion KingÂ,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom MenaceÂ,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark KnightÂ,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
439,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger GamesÂ,701607,1959.0,English,78.0,2012.0,7.3,140000,329.999255

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [41]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

# Extracting only top 250 rows of the sorted movies dataframe
IMDb_Top_250 = movies[movies['num_voted_users']>25000].sort_values(by='imdb_score', ascending = False)[0:250]
#movies.sort_values()

# Creating new column 'Rank'
IMDb_Top_250['Rank'] = np.arange(1,251)

# Getting a look at the IMDB_Top_250 dataframe
IMDb_Top_250

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,Rank
1937,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,The Shawshank RedemptionÂ,1689764,4144.0,English,25.00,1994.0,9.3,108000,3.341469,1
3466,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,The GodfatherÂ,1155770,2238.0,English,6.00,1972.0,9.2,43000,128.821952,2
2837,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,The Godfather: Part IIÂ,790926,650.0,English,13.00,1974.0,9.0,14000,44.300000,3
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark KnightÂ,1676169,4667.0,English,185.00,2008.0,9.0,37000,348.316061,4
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the UglyÂ",503509,780.0,Italian,1.20,1966.0,8.9,20000,4.900000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,John Carney,232.0,9.437933,Drama|Music|Romance,Glen Hansard,OnceÂ,90827,329.0,English,0.18,2007.0,7.9,26000,9.257933,246
2605,Ang Lee,287.0,128.067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden DragonÂ",217740,1641.0,Mandarin,15.00,2000.0,7.9,0,113.067808,247
3029,David O. Russell,410.0,93.571803,Biography|Drama|Sport,Christian Bale,The FighterÂ,275869,389.0,English,25.00,2010.0,7.9,36000,68.571803,248
2177,Tim Burton,111.0,56.362352,Fantasy|Romance,Johnny Depp,Edward ScissorhandsÂ,357581,588.0,English,20.00,1990.0,7.9,16000,36.362352,249
2487,George Cukor,82.0,72.000000,Drama|Family|Musical|Romance,Jeremy Brett,My Fair LadyÂ,66959,258.0,English,17.00,1964.0,7.9,0,55.000000,250

In [42]:
# Creating the Top_Foreign_Lang_Film dataframe 
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language']!='English']

Top_Foreign_Lang_Film # Getting a look at the 'Top_Foreign_Lang_Film' dataframe

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,Rank
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the UglyÂ",503509,780.0,Italian,1.200000,1966.0,8.9,20000,4.900000,5
4747,Akira Kurosawa,153.0,0.269061,Action|Adventure|Drama,Takashi Shimura,Seven SamuraiÂ,229012,596.0,Japanese,2.000000,1954.0,8.7,11000,-1.730939,17
4029,Fernando Meirelles,214.0,7.563397,Crime|Drama,Alice Braga,City of GodÂ,533200,749.0,Portuguese,3.300000,2002.0,8.7,28000,4.263397,20
2373,Hayao Miyazaki,246.0,10.049886,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited AwayÂ,417971,902.0,Japanese,19.000000,2001.0,8.6,28000,-8.950114,23
4259,Florian Henckel von Donnersmarck,215.0,11.284657,Drama|Thriller,Sebastian Koch,The Lives of OthersÂ,259379,407.0,German,2.000000,2006.0,8.5,39000,9.284657,35
4921,Majid Majidi,46.0,0.925402,Drama|Family,Bahare Seddiqi,Children of HeavenÂ,27882,130.0,Persian,0.180000,1997.0,8.5,0,0.745402,39
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess MononokeÂ,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809,47
2970,Wolfgang Petersen,96.0,11.433134,Adventure|Drama|Thriller|War,JÃ¼rgen Prochnow,Das BootÂ,168203,426.0,German,14.000000,1981.0,8.4,11000,-2.566866,49
4105,Chan-wook Park,305.0,2.181290,Drama|Mystery|Thriller,Min-sik Choi,OldboyÂ,356181,809.0,Korean,3.000000,2003.0,8.4,43000,-0.818710,57
4659,Asghar Farhadi,354.0,7.098492,Drama|Mystery,Shahab Hosseini,A SeparationÂ,151812,264.0,Persian,0.500000,2011.0,8.4,48000,6.598492,58
1329,S.S. Rajamouli,44.0,6.498000,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The BeginningÂ,62756,410.0,Telugu,18.026148,2015.0,8.4,21000,-11.528148,59
1298,Jean-Pierre Jeunet,242.0,33.201661,Comedy|Romance,Mathieu Kassovitz,AmÃ©lieÂ,534262,1314.0,French,77.000000,2001.0,8.4,39000,-43.798339,61
2734,Fritz Lang,260.0,0.026435,Drama|Sci-Fi,Brigitte Helm,MetropolisÂ,111841,413.0,German,6.000000,1927.0,8.3,12000,-5.973565,65
4033,Thomas Vinterberg,349.0,0.610968,Drama,Thomas Bo Larsen,The HuntÂ,170155,249.0,Danish,3.800000,2012.0,8.3,60000,-3.189032,73
2829,Oliver Hirschbiegel,192.0,5.501940,Biography|Drama|History|War,Thomas Kretschmann,DownfallÂ,248354,564.0,German,13.500000,2004.0,8.3,14000,-7.998060,81
2551,Guillermo del Toro,406.0,37.623143,Drama|Fantasy|War,Ivana Baquero,Pan's LabyrinthÂ,467234,1083.0,Spanish,13.500000,2006.0,8.2,27000,24.123143,86
4000,Juan JosÃ© Campanella,262.0,20.167424,Drama|Mystery|Thriller,Ricardo DarÃ­n,The Secret in Their EyesÂ,131831,231.0,Spanish,2.000000,2009.0,8.2,33000,18.167424,97
3550,Denis Villeneuve,226.0,6.857096,Drama|Mystery|War,Lubna Azabal,IncendiesÂ,80429,156.0,French,6.800000,2010.0,8.2,37000,0.057096,98
2047,Hayao Miyazaki,212.0,4.710455,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving CastleÂ,214091,330.0,Japanese,24.000000,2004.0,8.2,13000,-19.289545,100
2830,Alejandro AmenÃ¡bar,157.0,2.086345,Biography|Drama|Romance,BelÃ©n Rueda,The Sea InsideÂ,64556,140.0,Spanish,10.000000,2004.0,8.1,0,-7.913655,110
2914,Je-kyu Kang,86.0,1.110186,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of WarÂ,31943,224.0,Korean,12.800000,2004.0,8.1,0,-11.689814,119
4461,Thomas Vinterberg,98.0,1.647780,Drama,Ulrich Thomsen,The CelebrationÂ,65951,258.0,Danish,1.300000,1998.0,8.1,5000,0.347780,127
3553,JosÃ© Padilha,142.0,0.008060,Action|Crime|Drama|Thriller,Wagner Moura,Elite SquadÂ,81644,107.0,Portuguese,4.000000,2007.0,8.1,11000,-3.991940,143
3423,Katsuhiro Ãtomo,150.0,0.439162,Action|Animation|Sci-Fi,Mitsuo Iwata,AkiraÂ,106160,430.0,Japanese,1100.000000,1988.0,8.1,0,-1099.560838,147
4267,Alejandro G. IÃ±Ã¡rritu,157.0,5.383834,Drama|Thriller,Adriana Barraza,Amores PerrosÂ,173551,361.0,Spanish,2.000000,2000.0,8.1,11000,3.383834,152
3456,Vincent Paronnaud,242.0,4.443403,Animation|Biography|Drama|War,Catherine Deneuve,PersepolisÂ,70194,158.0,French,7.300000,2007.0,8.0,14000,-2.856597,166
3344,Karan Johar,210.0,4.018695,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is KhanÂ,69759,235.0,Hindi,12.000000,2010.0,8.0,27000,-7.981305,175
4144,Walter Salles,71.0,5.595428,Drama,Fernanda Montenegro,Central StationÂ,28951,257.0,Portuguese,2.900000,1998.0,8.0,0,2.695428,177
4284,Ari Folman,231.0,2.283276,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with BashirÂ,46107,156.0,Hebrew,1.500000,2008.0,8.0,0,0.783276,181
4897,Sergio Leone,122.0,3.500000,Action|Drama|Western,Clint Eastwood,A Fistful of DollarsÂ,147566,235.0,Italian,0.200000,1964.0,8.0,0,3.300000,183
1171,Yimou Zhang,283.0,0.084961,Action|Adventure|History,Jet Li,HeroÂ,149414,841.0,Mandarin,31.000000,2002.0,7.9,0,-30.915039,212
2863,Clint Eastwood,251.0,13.753931,Drama|History|War,Yuki Matsuzaki,Letters from Iwo JimaÂ,132149,316.0,Japanese,19.000000,2006.0,7.9,5000,-5.246069,226
3264,Michael Haneke,447.0,0.225377,Drama|Romance,Isabelle Huppert,AmourÂ,70382,190.0,French,8.900000,2012.0,7.9,33000,-8.674623,229
3510,Yash Chopra,29.0,2.921738,Drama|Musical|Romance,Shah Rukh Khan,Veer-ZaaraÂ,34449,119.0,Hindi,7.000000,2004.0,7.9,2000,-4.078262,233
3677,Christophe Barratier,112.0,3.629758,Drama|Music,Jean-Baptiste Maunier,The ChorusÂ,44151,110.0,French,5.500000,2004.0,7.9,0,-1.870242,237
4415,FabiÃ¡n Bielinsky,94.0,1.221261,Crime|Drama|Thriller,Ricardo DarÃ­n,Nine QueensÂ,38215,125.0,Spanish,1.500000,2000.0,7.9,0,-0.278739,243
4640,Cristian Mungiu,233.0,1.185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 DaysÂ",44763,172.0,Romanian,0.590000,2007.0,7.9,14000,0.595783,244
2605,Ang Lee,287.0,128.067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden DragonÂ",217740,1641.0,Mandarin,15.000000,2000.0,7.9,0,113.067808,247

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [51]:
# Write your code for extracting the top 10 directors here
directors = movies.groupby('director_name') # Creating a GroupBy object of the 'movies' dataframe

# Creating the 'top10director' dataframe by converting the DataFrameGroupBy object to DataFrame object
top10director = pd.DataFrame(directors['imdb_score'].mean()).sort_values(by='imdb_score', ascending = False).head(10)
top10director # Getting a look at the 'top10director' dataframe

                       imdb_score
director_name
Charles Chaplin          8.600000
Tony Kaye                8.600000
Alfred Hitchcock         8.500000
Ron Fricke               8.500000
Damien Chazelle          8.500000
Majid Majidi             8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
S.S. Rajamouli           8.400000
Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [52]:
movies.head()

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
1,Gore Verbinski,302.0,309.404152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's EndÂ,471220,1238.0,English,300.0,2007.0,7.1,0,9.404152
2,Sam Mendes,602.0,200.074175,Action|Adventure|Thriller,Christoph Waltz,SpectreÂ,275868,994.0,English,245.0,2015.0,6.8,85000,-44.925825
3,Christopher Nolan,813.0,448.130642,Action|Thriller,Tom Hardy,The Dark Knight RisesÂ,1144337,2701.0,English,250.0,2012.0,8.5,164000,198.130642
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John CarterÂ,212204,738.0,English,263.7,2012.0,6.6,24000,-190.641321

In [54]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies['genres'].apply(lambda s: s.split('|')[0]) # Creating 'genre_1' column
movies['genre_2'] = movies['genres'].apply(lambda s: s.split('|')[1] if('|' in s) else s) # Creating 'genre_2' column

# Getting a look at the new columns
print(movies.loc[:,['genre_1', 'genre_2']].head())
movies.loc[:,['genre_1', 'genre_2']].tail()

  genre_1    genre_2
0  Action  Adventure
1  Action  Adventure
2  Action  Adventure
3  Action   Thriller
5  Action  Adventure

          genre_1      genre_2
5033        Drama       Sci-Fi
5034     Thriller     Thriller
5035       Action        Crime
5037       Comedy        Drama
5042  Documentary  Documentary

In [55]:
# Creating a GroupBy object of the 'movies' dataframe
movies_by_segment = movies.groupby(['genre_1', 'genre_2'])

In [57]:
# Creating 'PopGenre' dataframe by converting the DataFrameGroupBy object to DataFrame object
PopGenre = pd.DataFrame(movies_by_segment['gross(in million$)'].mean()).sort_values(by='gross(in million$)', ascending = False)[0:5]
PopGenre # Getting a look at the 'PopGenre' dataframe

                     gross(in million$)
genre_1   genre_2
Family    Sci-Fi             434.949459
Adventure Sci-Fi             228.627758
          Family             118.919540
          Animation          116.998550
Action    Adventure          109.595465

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [58]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies[movies['actor_1_name']=='Meryl Streep']
Meryl_Streep # Getting a look at the 'Meryl_Streep' dataframe

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
410,Nancy Meyers,187.0,112.703470,Comedy|Drama|Romance,Meryl Streep,It's ComplicatedÂ,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
1106,Curtis Hanson,42.0,46.815748,Action|Adventure|Crime|Thriller,Meryl Streep,The River WildÂ,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
1204,Nora Ephron,252.0,94.125426,Biography|Drama|Romance,Meryl Streep,Julie & JuliaÂ,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
1408,David Frankel,208.0,124.732962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears PradaÂ,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
1483,Robert Redford,227.0,14.998070,Drama|Thriller|War,Meryl Streep,Lions for LambsÂ,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller
1575,Sydney Pollack,66.0,87.100000,Biography|Drama|Romance,Meryl Streep,Out of AfricaÂ,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
1618,David Frankel,234.0,63.536011,Comedy|Drama|Romance,Meryl Streep,Hope SpringsÂ,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
1674,Carl Franklin,64.0,23.209440,Drama,Meryl Streep,One True ThingÂ,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
1925,Stephen Daldry,174.0,41.597830,Drama|Romance,Meryl Streep,The HoursÂ,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
2781,Phyllida Lloyd,331.0,29.959436,Biography|Drama|History,Meryl Streep,The Iron LadyÂ,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
3135,Robert Altman,211.0,20.338609,Comedy|Drama|Music,Meryl Streep,A Prairie Home CompanionÂ,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama

In [59]:
Leo_Caprio = movies[movies['actor_1_name']=='Leonardo DiCaprio']
Leo_Caprio # Getting a look at the 'Leo_Caprio' dataframe

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302,Drama,Romance
50,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great GatsbyÂ,362912,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
97,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,InceptionÂ,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.568851,Action,Adventure
179,Alejandro G. IÃ±Ã¡rritu,556.0,183.635922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The RevenantÂ,406020,1188.0,English,135.0,2015.0,8.1,190000,48.635922,Adventure,Drama
257,Martin Scorsese,267.0,102.608827,Biography|Drama,Leonardo DiCaprio,The AviatorÂ,264318,799.0,English,110.0,2004.0,7.5,0,-7.391173,Biography,Drama
296,Quentin Tarantino,765.0,162.804648,Drama|Western,Leonardo DiCaprio,Django UnchainedÂ,955174,1193.0,English,100.0,2012.0,8.5,199000,62.804648,Drama,Western
307,Edward Zwick,166.0,57.366262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood DiamondÂ,400292,657.0,English,100.0,2006.0,8.0,14000,-42.633738,Adventure,Drama
308,Martin Scorsese,606.0,116.866727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall StreetÂ,780588,1138.0,English,100.0,2013.0,8.2,138000,16.866727,Biography,Comedy
326,Martin Scorsese,233.0,77.679638,Crime|Drama,Leonardo DiCaprio,Gangs of New YorkÂ,314033,1166.0,English,100.0,2002.0,7.5,0,-22.320362,Crime,Drama
361,Martin Scorsese,352.0,132.373442,Crime|Drama|Thriller,Leonardo DiCaprio,The DepartedÂ,873649,2054.0,English,90.0,2006.0,8.5,29000,42.373442,Crime,Drama
452,Martin Scorsese,490.0,127.968405,Mystery|Thriller,Leonardo DiCaprio,Shutter IslandÂ,786092,964.0,English,80.0,2010.0,8.1,53000,47.968405,Mystery,Thriller
641,Ridley Scott,238.0,39.380442,Action|Drama|Thriller,Leonardo DiCaprio,Body of LiesÂ,174248,263.0,English,70.0,2008.0,7.1,0,-30.619558,Action,Drama
911,Steven Spielberg,194.0,164.435221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You CanÂ,525801,667.0,English,52.0,2002.0,8.0,15000,112.435221,Biography,Crime
990,Danny Boyle,118.0,39.778599,Adventure|Drama|Thriller,Leonardo DiCaprio,The BeachÂ,176169,548.0,English,50.0,2000.0,6.6,0,-10.221401,Adventure,Drama
1114,Sam Mendes,323.0,22.877808,Drama|Romance,Leonardo DiCaprio,Revolutionary RoadÂ,152591,414.0,English,35.0,2008.0,7.3,0,-12.122192,Drama,Romance
1422,Randall Wallace,83.0,56.876365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron MaskÂ,125219,244.0,English,35.0,1998.0,6.4,0,21.876365,Action,Adventure
1453,Clint Eastwood,392.0,37.304950,Biography|Crime|Drama,Leonardo DiCaprio,J. EdgarÂ,102728,279.0,English,35.0,2011.0,6.6,16000,2.304950,Biography,Crime
1560,Sam Raimi,63.0,18.636537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the DeadÂ,69197,216.0,English,32.0,1995.0,6.4,0,-13.363463,Action,Thriller
2067,Jerry Zaks,45.0,12.782508,Drama,Leonardo DiCaprio,Marvin's RoomÂ,20163,71.0,English,23.0,1996.0,6.7,1000,-10.217492,Drama,Drama
2757,Baz Luhrmann,106.0,46.338728,Drama|Romance,Leonardo DiCaprio,Romeo + JulietÂ,167750,506.0,English,14.5,1996.0,6.8,10000,31.838728,Drama,Romance
3476,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great GatsbyÂ,362933,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance

In [60]:
Brad_Pitt = movies[movies['actor_1_name']=='Brad Pitt']
Brad_Pitt # Getting a look at the 'Brad_Pitt' dataframe thus created

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
101,David Fincher,362.0,127.490802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin ButtonÂ,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
147,Wolfgang Petersen,220.0,133.228348,Adventure,Brad Pitt,TroyÂ,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
254,Steven Soderbergh,198.0,125.531634,Crime|Thriller,Brad Pitt,Ocean's TwelveÂ,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
255,Doug Liman,233.0,186.336103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. SmithÂ,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
382,Tony Scott,142.0,0.026871,Action|Crime|Thriller,Brad Pitt,Spy GameÂ,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime
400,Steven Soderbergh,186.0,183.405771,Crime|Thriller,Brad Pitt,Ocean's ElevenÂ,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
470,David Ayer,406.0,85.707116,Action|Drama|War,Brad Pitt,FuryÂ,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
611,Jean-Jacques Annaud,76.0,37.901509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in TibetÂ,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
683,David Fincher,315.0,37.023395,Drama,Brad Pitt,Fight ClubÂ,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
792,Patrick Gilmore,98.0,26.288320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven SeasÂ,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
940,Neil Jordan,120.0,105.264608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
1490,Terrence Malick,584.0,13.303319,Drama|Fantasy,Brad Pitt,The Tree of LifeÂ,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
1722,Andrew Dominik,273.0,3.904982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
2204,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,Drama,Brad Pitt,BabelÂ,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
2333,Angelina Jolie Pitt,131.0,0.531009,Drama|Romance,Brad Pitt,By the SeaÂ,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
2682,Andrew Dominik,414.0,14.938570,Crime|Thriller,Brad Pitt,Killing Them SoftlyÂ,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
2898,Tony Scott,122.0,12.281500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True RomanceÂ,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime

In [61]:
# Write your code for combining the three dataframes here

# Using the append() function to combine dataframes having same number of columns
Combined = Meryl_Streep.append([Leo_Caprio,Brad_Pitt], ignore_index = True)
Combined # Getting a look at the 'Combined' dataframe

,director_name,num_critic_for_reviews,gross(in million$),genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget(in million$),title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
0,Nancy Meyers,187.0,112.703470,Comedy|Drama|Romance,Meryl Streep,It's ComplicatedÂ,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
1,Curtis Hanson,42.0,46.815748,Action|Adventure|Crime|Thriller,Meryl Streep,The River WildÂ,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
2,Nora Ephron,252.0,94.125426,Biography|Drama|Romance,Meryl Streep,Julie & JuliaÂ,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
3,David Frankel,208.0,124.732962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears PradaÂ,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
4,Robert Redford,227.0,14.998070,Drama|Thriller|War,Meryl Streep,Lions for LambsÂ,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller
5,Sydney Pollack,66.0,87.100000,Biography|Drama|Romance,Meryl Streep,Out of AfricaÂ,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
6,David Frankel,234.0,63.536011,Comedy|Drama|Romance,Meryl Streep,Hope SpringsÂ,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
7,Carl Franklin,64.0,23.209440,Drama,Meryl Streep,One True ThingÂ,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
8,Stephen Daldry,174.0,41.597830,Drama|Romance,Meryl Streep,The HoursÂ,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
9,Phyllida Lloyd,331.0,29.959436,Biography|Drama|History,Meryl Streep,The Iron LadyÂ,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
10,Robert Altman,211.0,20.338609,Comedy|Drama|Music,Meryl Streep,A Prairie Home CompanionÂ,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama
11,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302,Drama,Romance
12,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great GatsbyÂ,362912,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
13,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,InceptionÂ,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.568851,Action,Adventure
14,Alejandro G. IÃ±Ã¡rritu,556.0,183.635922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The RevenantÂ,406020,1188.0,English,135.0,2015.0,8.1,190000,48.635922,Adventure,Drama
15,Martin Scorsese,267.0,102.608827,Biography|Drama,Leonardo DiCaprio,The AviatorÂ,264318,799.0,English,110.0,2004.0,7.5,0,-7.391173,Biography,Drama
16,Quentin Tarantino,765.0,162.804648,Drama|Western,Leonardo DiCaprio,Django UnchainedÂ,955174,1193.0,English,100.0,2012.0,8.5,199000,62.804648,Drama,Western
17,Edward Zwick,166.0,57.366262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood DiamondÂ,400292,657.0,English,100.0,2006.0,8.0,14000,-42.633738,Adventure,Drama
18,Martin Scorsese,606.0,116.866727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall StreetÂ,780588,1138.0,English,100.0,2013.0,8.2,138000,16.866727,Biography,Comedy
19,Martin Scorsese,233.0,77.679638,Crime|Drama,Leonardo DiCaprio,Gangs of New YorkÂ,314033,1166.0,English,100.0,2002.0,7.5,0,-22.320362,Crime,Drama
20,Martin Scorsese,352.0,132.373442,Crime|Drama|Thriller,Leonardo DiCaprio,The DepartedÂ,873649,2054.0,English,90.0,2006.0,8.5,29000,42.373442,Crime,Drama
21,Martin Scorsese,490.0,127.968405,Mystery|Thriller,Leonardo DiCaprio,Shutter IslandÂ,786092,964.0,English,80.0,2010.0,8.1,53000,47.968405,Mystery,Thriller
22,Ridley Scott,238.0,39.380442,Action|Drama|Thriller,Leonardo DiCaprio,Body of LiesÂ,174248,263.0,English,70.0,2008.0,7.1,0,-30.619558,Action,Drama
23,Steven Spielberg,194.0,164.435221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You CanÂ,525801,667.0,English,52.0,2002.0,8.0,15000,112.435221,Biography,Crime
24,Danny Boyle,118.0,39.778599,Adventure|Drama|Thriller,Leonardo DiCaprio,The BeachÂ,176169,548.0,English,50.0,2000.0,6.6,0,-10.221401,Adventure,Drama
25,Sam Mendes,323.0,22.877808,Drama|Romance,Leonardo DiCaprio,Revolutionary RoadÂ,152591,414.0,English,35.0,2008.0,7.3,0,-12.122192,Drama,Romance
26,Randall Wallace,83.0,56.876365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron MaskÂ,125219,244.0,English,35.0,1998.0,6.4,0,21.876365,Action,Adventure
27,Clint Eastwood,392.0,37.304950,Biography|Crime|Drama,Leonardo DiCaprio,J. EdgarÂ,102728,279.0,English,35.0,2011.0,6.6,16000,2.304950,Biography,Crime
28,Sam Raimi,63.0,18.636537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the DeadÂ,69197,216.0,English,32.0,1995.0,6.4,0,-13.363463,Action,Thriller
29,Jerry Zaks,45.0,12.782508,Drama,Leonardo DiCaprio,Marvin's RoomÂ,20163,71.0,English,23.0,1996.0,6.7,1000,-10.217492,Drama,Drama
30,Baz Luhrmann,106.0,46.338728,Drama|Romance,Leonardo DiCaprio,Romeo + JulietÂ,167750,506.0,English,14.5,1996.0,6.8,10000,31.838728,Drama,Romance
31,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great GatsbyÂ,362933,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
32,David Fincher,362.0,127.490802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin ButtonÂ,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
33,Wolfgang Petersen,220.0,133.228348,Adventure,Brad Pitt,TroyÂ,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
34,Steven Soderbergh,198.0,125.531634,Crime|Thriller,Brad Pitt,Ocean's TwelveÂ,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
35,Doug Liman,233.0,186.336103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. SmithÂ,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
36,Tony Scott,142.0,0.026871,Action|Crime|Thriller,Brad Pitt,Spy GameÂ,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime
37,Steven Soderbergh,186.0,183.405771,Crime|Thriller,Brad Pitt,Ocean's ElevenÂ,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
38,David Ayer,406.0,85.707116,Action|Drama|War,Brad Pitt,FuryÂ,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
39,Jean-Jacques Annaud,76.0,37.901509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in TibetÂ,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
40,David Fincher,315.0,37.023395,Drama,Brad Pitt,Fight ClubÂ,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
41,Patrick Gilmore,98.0,26.288320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven SeasÂ,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
42,Neil Jordan,120.0,105.264608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
43,Terrence Malick,584.0,13.303319,Drama|Fantasy,Brad Pitt,The Tree of LifeÂ,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
44,Andrew Dominik,273.0,3.904982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
45,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,Drama,Brad Pitt,BabelÂ,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
46,Angelina Jolie Pitt,131.0,0.531009,Drama|Romance,Brad Pitt,By the SeaÂ,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
47,Andrew Dominik,414.0,14.938570,Crime|Thriller,Brad Pitt,Killing Them SoftlyÂ,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
48,Tony Scott,122.0,12.281500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True RomanceÂ,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime

In [62]:
# Write your code for grouping the combined dataframe here
actor_group = Combined.groupby('actor_1_name')

In [63]:
# Write the code for finding the mean of critic reviews and audience reviews here
actor_group['num_critic_for_reviews', 'num_user_for_reviews'].mean()

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!